@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="area">
    <a href="./Patient"><span>Patient</span></a>
</div>

<div class="area">
    <a href="./Doctor"><span>Doctor</span></a>
</div>